<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ data.name }}{% endblock %}</title>
    <link rel="canonical" href="{% block canonical %}https://doeringc.de{% endblock %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/main.css" />
    <script>
      (function () {
        const theme = localStorage.getItem("theme");
        if (theme) {
          document.documentElement.setAttribute("data-theme", theme);
        }
      })();
    </script>
  </head>
  <body>
    {% include "components/header.html" %}

    <div class="centered-row">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% include "components/footer.html" %}
    {% include "components/scripts.html" %}
  </body>
</html>
