<header>
  <div class="top-bar">
    <nav>
      {% for elem in data.navbar %}
      <a href = "{{ elem.url }}"><i class = "{{ elem.icon }}"></i></a>
      {% endfor %}
    </nav>
    <button class="toggle-btn" onclick="toggleDarkMode()">
      <i class="fas fa-moon"></i>
    </button>
  </div>
  <h1>{{ data.name }}</h1>
  <div class="social-icons">
    {% for social in data.socials %}
    <a href="{{ social.url }}" target="_blank"
      ><i class="{{ social.icon }}"></i
    ></a>
    {% endfor %}
  </div>
</header>
