/* styles/photography.css */

/* Override main.css for photography page */

.content {
    padding: 2rem 2rem; /* Vertical padding only */
    margin: 2rem;
}

.content h2 {
    text-align: center;
    margin-bottom: 2rem;
}



.gallery {
    position: relative;
}

.gallery-item {
    position: absolute;
}

.gallery-item:hover {
    transform: scale(1.01);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}
.gallery-item img:hover{
    transform: scale(1.01);
    transition: transform 0.2s ease;
}
